<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/css/index.css">
<title>TicTacToe</title>
<div class="header">
    <h1> Tic Tac</h1>
</div>

<div class="parentTop">
    <!-- <div id="reset"></div> -->
    <button type="button" class="btn btn-primary" onclick="resetGame()">Reset</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-primary" onclick="computerGame()" id='comp'>Play with Computer</button>
</div>
<p></p>
<div class="parentTop">
    <div class="gridTop">
        <div id="grid">
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>